* {
  margin-block-start: 0;
  margin-block-end:0;
  margin-inline-start: 0;
  margin-inline-end:0;
  padding-inline-start: 0;
}

nav#site {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: #fbffc2;
  padding: 20px;
}

nav#site ul{
  display: flex;
  list-style-type: none;
  gap: 20px;
  font-family: monospace;
  font-size: 30px;
  justify-content: center;
}

nav#site a:link{
    color: blue;
}
nav#site a:visited{
    color: #fc8200;
}
nav#site a:hover{
    color: red;
}
nav#site a:active{
    color: blue;
}
